{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page=".notify"|default('.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change notifications</h3>
        </div>
    <div class="panel-body">
    <form action="{{ url_for('profile.notify') }}" method="POST" name="change_notify_form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.method) }}
      {{ wtf.form_field(form.submit) }}
    </form>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
