{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = ".profile"|default('misc.home') -%}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Profile</h4></div>
    <ul class="list-group">
        <li class="list-group-item">username: {{g.user.username}}</li>
        <li class="list-group-item">email: {{g.user.email}}</li>
        {#{% if g.user.phone %}<li class="list-group-item">phone: {{ '+'+'-'.join([g.user.phone[:-10], g.user.phone[-10:-7], g.user.phone[-7:-4], g.user.phone[-4:]])}}{% if g.user.phone_confirmed %} <b class="glyphicon glyphicon-check"></b>{% else %} <b class="glyphicon glyphicon-unchecked"></b></li>{% endif %}{% endif %}
        <form action="{{ url_for('.phone') }}" method="POST" role="form" class="form-inline">
          {{ phone_form.hidden_tag() }}
          {{ wtf.form_errors(phone_form, hiddens="only") }}
          {{ wtf.form_field(phone_form.phone) }}
          {{ wtf.form_field(phone_form.country) }}
          {{ wtf.form_field(phone_form.submit) }}
        </form>#}

        <li class="list-group-item">joined: {{g.user.joined.strftime('%Y/%m/%d')}}</li>
        {% if g.user.current_landlord() %}
        <li class="list-group-item">
            <form action={{ url_for('relation.end_relation') }} method="POST" role="form" class="form-inline">landlord: {{g.user.current_landlord().username}} {{ end_landlord_form.hidden_tag()}} {{wtf.form_errors(end_landlord_form, hiddens="only") }} {{ wtf.form_field(end_landlord_form.submit, button_map={'submit': 'danger'}) }}</form></li>
        {% endif %}
        {% if tenants %}
            <li class="list-group-item">tenants:
                    {{ tenants|map(attribute='username')|join(', ') }}
            </li>
        {% endif %}
        <li class="list-group-item">last ip: {{g.user.last_login_ip}}</li>
        <li class="list-group-item">paid through: {{g.user.paid_through.strftime('%Y/%m/%d')}}</li>
        <li class="list-group-item">
            {% if g.user.notify_confirmed %}Notify method: {{g.user.notify_method}} <b class="glyphicon glyphicon-check"></b>
            {% else %}<form action="{{ url_for('.resend_notify_confirm') }}" method="POST" role="form" class="form-inline">Notify method: {{ g.user.notify_method }} <b class="glyphicon glyphicon-unchecked"></b>
        {{ resend_form.hidden_tag() }}
          {{ wtf.form_errors(resend_form, hiddens="only") }}
          {{ wtf.form_field(resend_form.resend) }}</form>
        {% endif %}</li>
    </ul>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
