{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('misc.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rentport</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('security.login') }}">Login</a></li>
            <li class="active"><a href="{{ url_for('security.forgot_password') }}">Forgot password</a></li>
            <li><a href="{{ url_for('security.send_confirmation') }}">Resend confirm</a></li>
            <li><a href="{{ url_for('security.register') }}">Register</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
<h1>Send password reset instructions</h1>
<form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form" role="form">
  {{ forgot_password_form.hidden_tag() }}
  {{ wtf.form_field(forgot_password_form.email) }} 
  {{ wtf.form_field(forgot_password_form.submit) }}
</form>
{% include "flash.html" %}
</div>
{% endblock %}
