{% extends "base_nav.html" %}
{% block navbar %}
    {% set active_page = "issue.issues"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Issues</h3></div>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Creator</th>
                    <th>Severity</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
        {% for issue in issues.items %}
        {#{% if issue.status != 'Closed' %}{% if issue.landlord_id == g.user.id or issue.creator_id == g.user.id %}<a class="btn btn-default btn-sm" href="{{ url_for('.close_issue', ident=issue.id)}}">close</a>{% endif %}{% endif %}</th>#}
        {% if issue.status == 'Closed' %}
                <tr class='clickableRow danger' href="{{ url_for('.show_issue', ident=issue.id) }}">
        {% else %}
                <tr class='clickableRow success' href="{{ url_for('.show_issue', ident=issue.id) }}">
        {% endif %}
                    <td>@{{ issue.creator.username}}</td>
                    <td>{{ issue.severity }}</td>
                    <td>{{ issue.area}}</td>
                    <td>{{ issue.status}} <span class="badge">{{ issue.num_of_comments() }}</td>
                    <td>{{ issue.opened.strftime('%Y/%m/%d') }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <ul class="pagination">
        {% if issues.has_prev %}<li class="next">{% else %}<li class="next disabled">{% endif %}
        <a href="{{ url_for('.issues', page = issues.prev_num, order=order, sort=sort) }}">&larr; Next</a>
        {% if issues.has_next %}<li class="previous">{% else %}<li class="previous disabled">{% endif %}
        <a href="{{ url_for('.issues', page = issues.next_num, order=order, sort=sort) }}">Prev &rarr;</a>
    </ul>
{% include "flash.html" %}
</div>
{% endblock %}
