{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page=".open_issue"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
{#<script type="text/javascript">
$( "#open_issue_form").submit(function(event) {
    event.preventDefault();
    var $form = $( this ),
        url=$form.attr("action"),
        data=$form.serialize();
    var return = $.post(url, data);
    });
</script>#}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Open Issue</h1>
    <form action="{{ url_for('.open_issue')}}" method="POST" enctype="multipart/form-data" id="open_issue_form" name="open_issue_form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.type) }}
      {{ wtf.form_field(form.severity) }}
      {# <input type="file" name="photos" multiple=""> #}
      {{ wtf.form_field(form.photos, multiple="") }}
      {{ wtf.form_field(form.description) }}
      {{ wtf.form_field(form.submit) }}
    </form>
    {% include "flash.html" %}
</div>
<div id="result"></div>
{% endblock %}
