{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% include "base_nav.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
jQuery(document).ready(function($) {
$( "#comment_form" ).submit(function(event) {
    event.preventDefault();
    var $form = $( this ),
        url=$form.attr("action"),
        data=$form.serialize();
    var r = $.post(url, data);
    r.done(function(data) {
        if (data.hasOwnProperty('success')) {
            line = "<li class='list-group-item'>@"+data.username+" ("+data.time+"): "+data.comment;
            $( "#comments" ).append(line);
        } else {
          line='<div class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>'+data.error+'</strong></div>';
            $( '#messages').append(line);}
        });
    $('#comment').val('');
    });
});
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if provider %}
    <form action="{{ url_for('.authorize_provider', ident=issue.id) }}" method="POST" id="select_provider_form" name="select_provider_form" role="form">
      {{ provider.hidden_tag() }}
      {{ wtf.form_errors(provider, hiddens="only") }}
      {{ wtf.form_field(provider.provider) }}
      {{ wtf.form_field(provider.submit) }}
    </form>
    {% endif %}
    {% if close %}
    <form action="{{ url_for('.close_issue', ident=issue.id) }}" method="POST" id="close_issue_form" name="close_issue_form" role="form">
      {{ close.hidden_tag() }}
      {{ wtf.form_errors(close, hiddens="only") }}
      {{ wtf.form_field(close.reason) }}
      {{ wtf.form_field(close.submit) }}
    </form>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
                <div class="btn-group">
                    <b class="btn btn-default">@{{issue.landlord.username}}</b>
                    <b class="btn btn-default">{{issue.severity}}</b>
                    <b class="btn btn-default">{{issue.area}}</b>
                    <b class="btn btn-default">{{ issue.opened.strftime('%Y/%m/%d') }}</b>
                    <b class="btn btn-default">{% if issue.work_orders.first() %}{{ issue.work_orders.first().provider.name }}{% else %}No provider selected{% endif %}</b>
                </div>
        </div>
        <div class="panel-body">
            <b>{{ issue.description}}</b>
        </div>
        <ul class="list-group" id="comments">
            {% for comment in issue.comments %}
            <li class="list-group-item">@{{ comment.user.username }} ({{ comment.posted.strftime('%Y/%m/%d')}}): {{ comment.text }}</li>
            {% endfor %}
        </ul>
    </div>
{% if comment %}
<form action="{{ url_for('.comment', ident=issue.id) }}" method="POST" id="comment_form" name="comment_form" role="form">
  {{ comment.hidden_tag() }}
  {{ wtf.form_errors(comment, hiddens="only") }}
  {{ wtf.form_field(comment.comment) }}
  {{ wtf.form_field(comment.submit) }}
</form>
{% endif %}
{% with ims = issue.images %}
{% if ims.count() > 0 %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for im in ims %}
          {% if loop.first %}
              <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
          {% else %}
              <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
          {% endif %}
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
      <div class="carousel-inner">
      {% for im in ims %}
          {% if loop.first %}
            <div class="item active">
          {% else %}
            <div class="item">
          {% endif %}
          <img src="{{ url_for('misc.show_img', image_uuid=im.uuid) }}"/>
            </div>
      {% endfor %}
      </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endif %}
{% endwith %}
</div>

<div id='messages'></div>
{% include "flash.html" %}
{% endblock %}
