{% extends "base_nav.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% set active_page = "property.modify_property"|default('rentport.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Modify location</h1>
<div id="main" class="container-fluid">
    <form action="{{ url_for('property.modify_property', prop_id=location.id) }}" method="POST" name="modify_property_form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.description) }}
      {{ wtf.form_field(form.submit) }}
    </form>
{% include "flash.html" %}
</div>
{% endblock %}
