{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('rentport.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "property.property_providers"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Property providers</h3>
        </div>
        {{ prop.description }}

        {% for prov in provs %}
        <p>
        {{ prov.service }} 
        {{ prov.name }}
        {{ prov.email }}
        {{ prov.phone }}
        {{ prov.website }}
        {{ prov.properties|map(attribute='id')|join(', ') }}
        </p>
        {% endfor %}
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
