{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = ".properties"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Properties</h3></div>
        <div class="table-responsive">
            <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Apt #</th>
                    <th>Street #</th>
                    <th>Street</th>
                    <th>Neighborhood</th>
                    <th>City</th>
                    <th>County</th>
                    <th>Postcode</th>
                    <th>Country</th>
                    <th>Descripton</th>
                    <th>Tenants</th>
                </tr>
            </thead>
            <tbody>
        {% for property in props %}
        <tr>
            <th>{% if property.apt_number %}#{{ property.apt_number }}{% else %}---{% endif %}</th>
            <th>{{ property.address.number }}</th>
            <th>{{ property.address.street }}</th>
            <th>{{ property.address.neighborhood}}</th>
            <th>{{ property.address.city}}</th>
            <th>{{ property.address.county}}</th>
            <th>{{ property.address.postcode}}</th>
            <th>{{ property.address.country}}</th>
            <th>{{ property.description }}</th>
            <th>{{ property.current_tenants()|map(attribute='username')|join(', ') }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div></div>
    {% if form %}
    <div class="spanForm">
        <button class="btn btn-default" data-toggle="collapse" data-target="#propForm">Add property form</button>
    </div>
    <div id="propForm" class='collapse well'>
    <form action="{{ url_for('property.add_property') }}" method="POST" id="add_location_form" name="add_location_form" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only")}}
      {{ wtf.form_field(form.unit, placeholder='Unit # or leave blank') }}
      {{ wtf.form_field(form.address, placeholder='Address') }}
      {{ wtf.form_field(form.city, placeholder='City') }}
      {{ wtf.form_field(form.state, placeholder='State') }}
      {{ wtf.form_field(form.description, placeholder='Description') }}
      {{ wtf.form_field(form.submit) }}
    </form>
    </div>
    {% endif %}
    {% include "flash.html" %}
</div>
{% endblock %}
