{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('misc.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "property.show_providers"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ prov.name }}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{ prov.service }}</li>
            <li class="list-group-item">{{ prov.email }}</li>
            <li class="list-group-item">{{ prov.phone }}</li>
            <li class="list-group-item">{{ prov.website }}</li>
        </ul>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('misc.static', filename='js/rentport.js') }}"></script>
{% endblock %}
