{% extends "base_nav.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% set active_page = "relation.add_tenant"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="page-header">
        <h3>Add tenant to property</h3>
    </div>
    <div class="well">
        <form action="{{ url_for('relation.add_tenant') }}" method="POST" name="add_tenant_form" role="form" class="form-inline">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          {{ wtf.form_field(form.user, id="userSearch") }}
          {{ wtf.form_field(form.apt) }}
          {{ wtf.form_field(form.submit) }}
        </form>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
