{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "relation.add_tenant"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
<h3>Add tenant to property</h3>
<form action="{{ url_for('relation.add_tenant') }}" method="POST" name="add_tenant_form" role="form" class="form-inline">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  {{ wtf.form_field(form.user) }}
  {{ wtf.form_field(form.apt) }}
  {{ wtf.form_field(form.submit) }}
</form>
{% include "flash.html" %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/rentport.js') }}"></script>
{% endblock %}
