{% import "bootstrap/wtf.html" as wtf %}
<form action="{{ url_for('rentport.add_property') }}" method="POST" name="add_location_form" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only")}}
  {{ wtf.form_field(form.unit, placeholder='Unit # or leave blank') }}
  {{ wtf.form_field(form.address, placeholder='Address') }}
  {{ wtf.form_field(form.city, placeholder='City') }}
  {{ wtf.form_field(form.state, placeholder='State') }}
  {{ wtf.form_field(form.description, placeholder='Description') }}
  {{ wtf.form_field(form.submit) }}
</form>
