{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = ".properties"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Properties</h1></div>
        {% for property in props %}
        <p>
        #{{ property.apt_number }} 
        {{ property.address.number }} 
        {{ property.address.street }}
        {{ property.address.neighborhood}} 
        {{ property.address.city}} 
        {{ property.address.county}} 
        {{ property.address.postcode}} 
        {{ property.address.country}} 
        {{ property.description }} 
        {{ property.current_tenants()|map(attribute='username')|join(', ') }}
        </p>
        {% endfor %}
    </div>
    {% include "flash.html" %}
</div>
{% endblock %}
