{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('rentport.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Unconfirmed tenants</h3></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tenant</th>
                    <th>Location</th>
                    <th>Confirm?</th>
                </tr>
            </thead>
            <tbody>
        {% for tenant in tenants %}
                <tr>
                    <th>@{{ tenant.username}}</th>
                    <th>{{ tenant.current_location().address.street }}</th>
                    <th>
                        <form class="form-inline" action="{{ url_for('rentport.confirm_relation', tenant=tenant.username) }}" method="POST" name="confirm_relation_form" role="form">
                          {{ form.hidden_tag() }}
                          {{ wtf.form_errors(form, hiddens="only") }}
                          {{ wtf.form_field(form.disallow) }}
                          {{ wtf.form_field(form.confirm) }}
                        </form>
                    </th>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    </ul>
{% include "flash.html" %}
</div>
{% endblock %}
