{% extends "base_nav.html" %}
{% block navbar %}
    {% set active_page = "fee.fees"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Fees</h3></div>
            <div class="panel-body">
                <a class="btn btn-primary exempt" id="serviceFee" href="{{ url_for('fee.pay_fee') }}">Pay fee</a>
            </div>
            <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Paid On</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees.items %}
                <tr class="clickableRow" href="{{ url_for('fee.show_fee', pay_id=fee.id)}}">
                    <td>{{ fee.status }}</td>
                    <td>{{ fee.paid_on.strftime('%Y/%m/%d') }}</td>
                    <td>{{ fee.length.days }} days</td>
                 </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
