{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "fee.fees"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Fees</h3></div>
            <div class="panel-body">
                <a class="btn btn-primary" id="serviceFee" href="{{ url_for('fee.pay_fee') }}">Pay fee</a>
            </div>
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Paid On</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees.items %}
                <tr class="clickableRow" href="{{ url_for('fee.show_fee', pay_id=fee.id)}}">
                    <th>{{ fee.status }}</th>
                    <th>{{ fee.paid_on.strftime('%Y/%m/%d') }}</th>
                    <th>{{ fee.length.days }} days</th>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/rentport.js') }}"></script>
{% endblock %}
