{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('rentport.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "rentport.pay_fee"|default('rentport.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<h1>Pay Service Fee</h1>
<form action="{{ url_for('rentport.pay_fee') }}" method="POST" role="form" name="pay_service_form">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-image=""
    data-name="Rentport"
    data-description="1 year"
    data-amount="{{ amount }}">
  </script>
</form>
{% include "flash.html" %}
{% endblock %}
