{% extends "base_nav.html" %}
{% block navbar %}
    {% set active_page = "fee.show_fee"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Fee info</h3>
        </div>
        <div class="panel-body">
        <ul class="list-group">
            {% for (k,v)  in info %}
            <li class="list-group-item">{{ k }}: {{ v }}</li>
            {% endfor %}
        </ul>
        </div>
    <div>
{% include "flash.html" %}
</div>
{% endblock %}
