{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/rentport_style.css') }}">
{% endblock %}
{% block navbar %}
    {% set active_page = "relation.add_tenant"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Fee info</h3>
        </div>
        <div class="panel-body">
        <ul class="list-group">
            {% for k,v  in info.items() %}
            <li class="list-group-item">{{ k }}: {{ v }}</li>
            {% endfor %}
        </ul>
        </div>
    <div>
{% include "flash.html" %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/rentport.js') }}"></script>
{% endblock %}
