{% extends "base_nav.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% set active_page="provider.saved_providers"|default('misc.home') %}
    {% include "base_nav.html" %}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="page-header">
        <h3>Select provider</h3>
    </div>
    <div class="well">
        <form method="POST" name="select_provider_form" role="form">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          {{ wtf.form_field(form.provider) }}
          {{ wtf.form_field(form.submit) }}
        </form>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
