{% extends "base_nav.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    {% set active_page = "property.show_providers"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Providers</h3></div>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    {#<th>Service area</th>#}
                    {#<th>Properties</th>#}
                </tr>
            </thead>
            <tbody>
        {% for prov in providers %}
                <tr class='clickableRow' href="{{ url_for('.show_providers', prov_id=prov.id) }}">
                    <td>{{ prov.name }}</td>
                    {#<td>{{ prov.service }}</td>#}
                    {#<th>{{ prov.properties|map(attribute='id')|join(', ') }}</th>#}
                </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% if form %}
    <div class="spanForm">
        <button class="btn btn-default" data-toggle="collapse" data-target="#propForm">Add provider form</button>
    </div>
    <div id="propForm" class='collapse well'>
        {{ wtf.quick_form(form, action=action, button_map={'submit': 'primary'}) }}
    </div>
    {% endif %}
    {% include "flash.html" %}
</div>
{% endblock %}
