{% extends "base_nav.html" %}
{% block navbar %}
    {% set active_page = "property.show_providers"|default('misc.home') %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="main" class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ prov.name }}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{ prov.service }}</li>
            <li class="list-group-item">{{ prov.email }}</li>
            <li class="list-group-item">{{ prov.phone }}</li>
            <li class="list-group-item"><a href="{{ prov.website }}">{{ prov.website }}</a></li>
        </ul>
    </div>
{% include "flash.html" %}
</div>
{% endblock %}
